@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

:root {
    --primary-color: #9CA3AF;
    --dark-grey:#D1D5DB;

}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
}

h1 {
    color:var(--primary-color);
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

}
 
.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    max-width: 140px;
    padding: 0.5rem 1.6rem;
    margin: 1rem auto;
    color: whitesmoke;
    display: block;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    margin: 1rem auto;
    max-width: 140px;
    padding: 0.5rem 1.6rem;
    display: block;
    

}


hr {
    margin: 3rem 0rem;
}

ul {}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem
}

.navigation {
    background-color: var(--primary-color);
    color: black;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    padding-left: 1rem;
    font-size: larger;
}

.navigation .link {
    color: black;

}

.navigation .nav-pills {
    text-align: right;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;

}

.hero-header {
    padding-top: 1rem;
    color: black;
    text-align: center;
}

.hero .hero-header .heading {
    color: var(--primary-color);
}
.section{
    margin: 2rem 0rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}
.section h3 {
    text-align: center;
  
}
.ow{
    margin: 2rem 0rem;
    padding: 2rem;
    background-color:var(--dark-grey);
    text-align: center;
    

}
footer{
    margin: 2rem 0rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius:1rem;
    background-color:var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color: aliceblue;

}
.footer-head{
    font-weight: bold;
    display: block;
}
footer .links{color: white;

}
footer ul{
    padding-inline-start:0px;
}